{% set ikonaWyciagi %}
  <svg width="150" height="150" viewBox="0 0 150 150" width="24" height="24" class="size-12" aria-hidden="true">
    <path d="M141.269 12.8877C138.314 4.7707 130.683 0 122.896 0C115.663 0 108.523 4.07168 105.147 11.3109C100.587 21.0891 104.833 32.7548 114.612 37.3145C117.239 38.5397 120.016 39.1608 122.867 39.1608C136.389 39.1608 145.933 25.7004 141.269 12.8877Z" fill="currentColor" />
    <path
      d="M124.208 135.026C121.759 133.885 118.849 134.943 117.707 137.392C116.57 139.831 113.665 140.893 111.224 139.767L79.5586 124.653C79.5451 124.646 79.5316 124.642 79.5182 124.636L89.8597 102.458C91.4241 99.0966 90.9641 95.2051 88.6591 92.3006L73.9714 73.7923L82.9181 66.6365C83.8072 67.3637 111.454 80.1521 111.127 79.9997C116.061 82.3004 121.877 80.0967 124.129 75.2674C126.405 70.3859 124.278 64.5415 119.396 62.2657L105.386 55.7328L97.2943 33.4994C95.4732 28.4961 89.855 25.7519 84.7043 27.6269C83.1372 28.2354 69.5505 39.1748 61.1971 45.8853C54.0425 42.5489 45.5575 38.5924 41.0853 36.5067L43.1525 32.073C44.2942 29.6243 43.2349 26.7137 40.7865 25.572C38.3382 24.4309 35.4272 25.4897 34.2855 27.9383L32.2184 32.3718L27.7846 30.3046C25.3362 29.1632 22.4253 30.2223 21.2836 32.6706C20.1419 35.1195 21.201 38.0302 23.6496 39.1719L28.0834 41.2391L26.0162 45.6729C24.5001 48.9239 26.8922 52.6332 30.4465 52.6332C32.2887 52.6332 34.0535 51.5873 34.8832 49.8072L36.9504 45.374L52.6333 52.6871C52.3072 52.942 50.175 54.4728 47.7583 56.3876C45.6691 58.0455 44.3581 60.4024 44.0672 63.0242C43.783 65.581 44.5084 68.0853 46.1083 70.0757L69.5572 99.694L61.7836 116.364L14.4937 94.3127C12.0451 93.1713 9.13476 94.2301 7.99277 96.679C6.85107 99.1276 7.91045 102.038 10.3588 103.18L107.032 148.607C107.045 148.613 107.058 148.619 107.071 148.626C114.406 152.046 123.155 148.861 126.574 141.527C127.716 139.079 126.657 136.168 124.208 135.026Z"
      fill="currentColor"
    />
  </svg>
{% endset %}

{% set ikonaPokrywa %}
  <svg class="size-12" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
    <path d="m10 20-1.25-2.5L6 18" />
    <path d="M10 4 8.75 6.5 6 6" />
    <path d="m14 20 1.25-2.5L18 18" />
    <path d="m14 4 1.25 2.5L18 6" />
    <path d="m17 21-3-6h-4" />
    <path d="m17 3-3 6 1.5 3" />
    <path d="M2 12h6.5L10 9" />
    <path d="m20 10-1.5 2 1.5 2" />
    <path d="M22 12h-6.5L14 15" />
    <path d="m4 10 1.5 2L4 14" />
    <path d="m7 21 3-6-1.5-3" />
    <path d="m7 3 3 6h4" />
  </svg>
{% endset %}

{% set ikonaWarunki %}
  <svg viewBox="0 0 24 24" fill="none" class="size-12" width="24" height="24">
    <path
      d="M2 12H12M9 4V20M3 9L6 12L3 15M12 6L9 9L6 6M6 18L9 15L10.5 16.5M20 14.5351V4C20 2.89543 19.1046 2 18 2C16.8954 2 16 2.89543 16 4V14.5351C14.8044 15.2267 14 16.5194 14 18C14 20.2091 15.7909 22 18 22C20.2091 22 22 20.2091 22 18C22 16.5194 21.1956 15.2267 20 14.5351Z"
      stroke="currentColor"
      stroke-width="1"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
{% endset %}

{% set ikonaKamera %}

    <svg viewBox="0 0 150 150" xmlns="http://www.w3.org/2000/svg" class="size-12" fill="currentColor" width="150" height="150">
      <g>
        <path d="m27.245 58.17 23.414-45.263a3.6932 3.6932 0 0 1 5.131-1.5083l89.793 51.846a3.6932 3.6932 0 0 1 0.12686 6.3151l-48.463 30.8a3.6932 3.6932 0 0 1-3.8342 0.0845l-64.73-37.383a3.6932 3.6932 0 0 1-1.4378-4.8914z"/>
        <path d="m9.9071 75.904 31.576 4.5108a1.0572 1.0572 0 0 1 0.90216 1.0431v9.4022a1.0572 1.0572 0 0 0 0.80348 1.029l10.051 2.5232a1.0572 1.0572 0 0 0 1.17-0.49337l3.3549-5.7935a1.0572 1.0572 0 0 1 1.4378-0.38061l7.3159 4.2148a1.0572 1.0572 0 0 1 0.40879 1.4096l-6.6675 12.884a1.0572 1.0572 0 0 1-0.94445 0.57794h-15.886a1.0572 1.0572 0 0 0-1.0572 1.0572v10.643a1.0572 1.0572 0 0 1-0.66252 0.98673l-33.901 13.504a1.0572 1.0572 0 0 1-1.4519-1.029l2.34-55.088a1.0572 1.0572 0 0 1 1.2123-1.0008z"/>
        <path d="m110.1 102.59a0.19735 0.19735 0 0 1-0.0141-0.3383q21.088-13.758 26.275-16.493 1.9594-1.0431 3.4113-0.64843a2.34 2.34 0 0 1 1.1418 3.7778l-17.493 20.214a0.40879 0.43698 34.17 0 1-0.52156 0.11277z"/>
      </g>
    </svg>

    {% endset %}

{% if status %}
  <div class="space-y-4">
    <div class="rounded-lg bg-slate-100 px-8 py-4 text-center text-xl text-niebieski-600">
      <div class="flex justify-center">
        {{ ikonaWyciagi|raw }}
      </div>
      <div class="font-semibold">
        Wyciągi
      </div>
      <div class="font-black text-niebieski-700">
        {{ status.wyciagi.value }}
      </div>
    </div>

    <div class="rounded-lg bg-slate-100 px-8 py-4 text-center text-2xl text-niebieski-600">
      <div class="flex justify-center">
        {{ ikonaPokrywa|raw }}
      </div>
      <div class="font-semibold">
        Pokrywa
      </div>
      <div class="font-black text-niebieski-700">
        {{ status.pokrywa }} cm
      </div>
    </div>

    <div class="rounded-lg bg-slate-100 px-8 py-4 text-center text-2xl text-niebieski-600">
      <div class="flex justify-center">
        {{ ikonaWarunki|raw }}
      </div>
      <div class="font-semibold">
        Warunki
      </div>
      <div class="font-black text-niebieski-700">
        {{ status.warunki.value }}
      </div>
    </div>

    <div class="relative rounded-lg bg-slate-100 px-8 py-4 text-center text-2xl text-niebieski-600">
      <div class="flex justify-center">
        {{ ikonaKamera|raw }}
      </div>
      <a href="{{ cameraUrl ?? '#' }}" class="before:absolute before:inset-0 before:block before:content-['']"{% if cameraUrl is null %} aria-disabled="true"{% endif %}>
        <div class="font-semibold">
          Kamera
        </div>
        <div class="font-black text-niebieski-700">
          online
        </div>
      </a>
    </div>

    <div class="rounded-lg bg-sky-700/30 px-2 py-2 text-center text-sm text-sky-100">
      <div>
        Aktualizacja
      </div>
      <div class="font-semibold text-white">
        {{ status.updatedAt|format_datetime('medium', 'none') }}
      </div>
    </div>
  </div>
{% else %}
  <p class="text-sm opacity-70">
    Brak danych o statusie stoku.
  </p>
{% endif %}
